.link{
    color: var(--branco);
    font-size: 20px;
    font-weight: 500;
    padding: 0.8em 3em;
    text-decoration: none;
    border-radius: 15px;
    border: 1.5px solid var(--branco, #FFFFFF);
    display: inline-block;

    margin-right: 10px; /* Adiciona um espaço entre os links  */
    transition: all 0.2s ease-in-out; /* Adicionando transição suave */


}

    .link:hover {
        box-shadow: 0 0 8px 2px #2271D1; /* Sombra suave na borda ao passar o mouse */
        border: 1.5px solid #2271D1;
        background-color: #000000E5;
        color: #2271D1;
        opacity: 0.8;

}

